.App {
  text-align: center;
  overflow: hidden;
  background: #F9F9F9;
}

@media screen and (min-width:721px) {
    .App {
        margin: 15px auto 0;
        max-width: 768px;
        border-radius: 10px;
    }
}